<a href="https://colab.research.google.com/github/quangkhai4078/phantichdulieu/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("chào mừng các bạn đến với bào thực hành PTDL-Lab01Lab01")

chào mừng các bạn đến với bào thực hành PTDL-Lab01Lab01

In [ ]:
a =5
b=5

In [ ]:
c=a+b
print(c)

10

In [ ]:
print ("ahhii các bạn")

ahhii các bạn

Example 1:

In [1]:
arr = [12,-4,7,9]
type(arr)

list

In [2]:
print(arr)

[12, -4, 7, 9]

In [3]:
arr[0]

12

In [4]:
import pandas as pd
s = pd.Series(arr)
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

Example 2:

In [6]:
import pandas as pd
s2 = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s2)

a    12
b    -4
c     7
d     9
dtype: int64

In [7]:
s2.values

array([12, -4,  7,  9])

In [8]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Example 3:

In [9]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [10]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [11]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [12]:
type(data)

dict

Example 4:

In [13]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

Example 5:

In [14]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [15]:
len(frame2)

5

In [16]:
frame2['price'][0]

1.2

Example 6:

In [17]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good' #update ith of column type with a new value
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good